<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header d-flex justify-content-between">
                    <h1>
                        Daftar User
                    </h1>
                    <div role="group" class="btn-group btn-group-sm btn-group-justified blocks">
                        <button type="button" class="btn btn-sm btn-primary" (click)="createUser(formUser)">
                            <em class="fas fa-plus font-size-14 align-middle me-1"></em> Tambah User
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover" datatable [dtOptions]="dtOptions">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Nama</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of listUser;">
                                <td><img src="{{user.photo_url}}" alt="" class="rounded-circle img-thumb" /></td>
                                <td class="vertical-middle">{{user.name}}</td>
                                <td class="vertical-middle">{{user.email}}</td>
                                <td class="vertical-middle text-right">
                                    <a href="javascript: void(0);" class="align-middle me-2"
                                        (click)="updateUser(formUser, user)" placement="left" container="body"
                                        ngbTooltip="Ubah">
                                        <em class="fa fa-edit font-size-14"></em>
                                    </a>
                                    <a href="javascript: void(0);" class="align-middle" (click)="deleteUser(user.id)"
                                        placement="left" container="body" ngbTooltip="Hapus">
                                        <em class="fa fa-trash font-size-14"></em>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #formUser let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{titleModal}}</h5>
        <button type="button" class="btn-close" (click)="modal.close()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <app-form-user [userId]="userId" (afterSave)="modal.close(); getUser()"></app-form-user>
    </div>
</ng-template>
